<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Customer</title>
</head>
<body>
<h1>Create Customer</h1>
<a href="/customer">Back</a>
<form th:action="@{/create-customer}" th:object="${customer}" method="post">
    <label>Name</label>
    <span style="color: red" th:if="${#fields.hasErrors('name')}" th:error="*{name}">The name must more than 2 and less than 10 and not required!</span><br>
    <input type="text" name="name" th:field="*{name}"><br>
    <label>Age</label>
    <span style="color: red" th:if="${#fields.hasErrors('age')}" th:error="*{age}">The age is more than 5</span><br>
    <input type="text" name="age" th:field="*{age}"><br>
    <button type="submit">Create</button>

</form>
</body>
</html>